{% extends "base.html" %}
{% block title %} Giới thiệu nhóm {% endblock %}

{% block content %}
<div class="jumbotron p-4" align="center">
    <h2><i>> Về ý tưởng tạo trang này</i></h2><br />
    <div>
        <p>Mục đích tạo trang này đề quản lý và phân công nhiệm vụ cho từng thành viên một cách cụ thể, nhanh chóng, ...</p>
    </div><br />
    <hr>

    <h2><i>> Về các thành viên nhóm này</i></h2><br />
    <p>Nhóm 6 gồm ba thành viên:
        <ul><u>1. Vũ Đức Anh (Nhóm trưởng)</u></ul>
        <ul><u>2. Nguyễn Thành Long (Nhóm phó)</u></ul>
        <ul><u>3. Nguyễn Minh Nghĩa (Thành viên)</u></ul>
    </p>
</div>
{% endblock %}