{% extends "base.html" %}
{% block title %} Trang chủ {% endblock %}

{% block content %}
<div class="jumbotron p-2">
    <div class="well text-center">
        <h2><b style=color:dodgerblue>Thông báo chi tiết phân công nhiệm vụ nhóm 6</b></h2>
        <h2>Chào mừng đến với nhóm 6!</h2>
    </div>
</div>
<hr>

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-2"> 
                <h4>Quản lý thành viên  <button type="button" class="btn btn-success float-right" 
                data-toggle="modal" data-target="#mymodal">Thêm thành viên mới</button> </h4><br />

                <table class="table table-hover table-dark">
                    <tr>
                        <th>STT</th>
                        <th>Họ và Tên</th>
                        <th>Điện Thoại</th>
                        <th>Vai Trò</th>
                        <th>Nhiệm Vụ</th>
                        <th>Trạng Thái</th>
                    </tr>

                    <tr>
                        <td>01</td>
                        <td>Vũ Đức Anh</td>
                        <td>0866185809</td>
                        <td>Nhóm Trưởng</td>
                        <td id="nv"><div>Phân công nhiệm vụ, kiểm tra, khai thác và quản lý các thành viên trong nhóm 6 một cách hiệu quả.</div></td>
                        
                        <td>
                            <!-- <a href="" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modalview">Xem</a> -->
                            <a href="" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modaledit">Cập nhật</a>
                            <a href="" class="btn btn-danger btn-xs" onclick="return confirm('Bạn có chắc muốn xóa thành viên này?')">Xóa</a>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

    <!-- Modal Add members -->
    <div id="mymodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thành viên mới</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label>Họ và Tên</label>
                            <input type="text" class="form-control" name="full_name" required="1">
                        </div>

                        <div class="form-group">
                            <label>Điện Thoại</label>
                            <input type="text" class="form-control" name="phone" required="1">
                        </div>

                        <div class="form-group">
                            <label>Vai Trò</label>
                            <input type="text" class="form-control" name="role" required="1">
                        </div>

                        <div class="form-group">
                            <label>Nhiệm Vụ</label>
                            <input type="text" class="form-control" aria-label="large" name="task" required="1">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Thêm</button>
                        </div>
                    </form>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Update members -->
    <div id="modaledit" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cập nhật thông tin</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="" method="POST">
                        <div class="form-group">
                            <label>Họ và Tên</label>
                            <input type="hidden" name="stt" value="stt">
                            <input type="text" class="form-control" name="full_name" value="Nguyễn Thành Long">
                        </div>

                        <div class="form-group">
                            <label>Điện Thoại</label>
                            <input type="text" class="form-control" name="phone" value="0123...">
                        </div>

                        <div class="form-group">
                            <label>Vai Trò</label>
                            <input type="text" class="form-control" name="role" value="Nhóm Phó">
                        </div>

                        <div class="form-group">
                            <label>Nhiệm Vụ</label>
                            <input type="text" class="form-control" aria-label="large" name="nv" value="Thiết kế giao diện và Phân tích thiết kế yêu cầu.">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Cập nhật</button>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}